---
const features = [
  {
    image: "/rackicon.svg",
    title: "Rack Ready",
    description:
      "With breakers and outlets in place, rack ready spaces are the most turnkey of turnkey solutions. Simply load your equipment into your secure space, make your network connections, and you’re up and running in no time. Of course, we’re here throughout to answer any questions and provide support where needed.",
  },
  {
    image: "/whitespace.svg",
    title: "Whitespace",
    description:
      "Here’s wholesale capacity ready for you to configure to your specific design and operational needs. You control the location and installation of breakers, outlets and network connections, all to match your vision of the most efficient use of your space.",
  },
  {
    image: "/buildtosuit.svg",
    title: "Build-to-Suit",
    description:
      "Need an large data center? Have designs that feature brand new and out-of-the-box ways to connect, power, cool or maintain? We’ll work with you to build a one-of-a-kind data center that meets your unique needs.",
  },
];
const carousel = [
  { title: "Power" },
  { title: "Cooling" },
  { title: "Security & Compliance" },
  { title: "Connectivity" },
  { title: "Room Design" },
  { title: "Amenities" },
  { title: "Sustainability" },
  { title: "Safety" },
  { title: "Operational Excellence" },
];
---

<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="lg:text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        Go (con)figure.
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        From turnkey to a total build-to-suit scenario, <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >we’re ready to take the guesswork out of how you’ll scale quickly and
          reliably. Whichever product you choose, you’ll get the timely and
          ongoing support you need to move your business forward.</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:mx-auto lg:text-base">
      </p>
    </div>
    <div>
      <div
        class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
      >
        <div class="grid justify-between w-full">
          <div
            class="absolute inset-0 left-0 z-10 from-gray-100 via-transparent w-44 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-gray-100 via-transparent w-44 bg-gradient-to-l"
          >
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused animate-marqueeRight whitespace-nowrap"
          >
            {
              carousel.map((tagline) => (
                <>
                  <div class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                    <span class="group-hover:text-white">{tagline.title}</span>
                  </div>
                </>
              ))
            }
          </div>
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused animate-marqueeLeft whitespace-nowrap"
          >
            {
              carousel.map((tagline) => (
                <>
                  <div class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                    <span class="group-hover:text-white">{tagline.title}</span>
                  </div>
                </>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-2 lg:grid-cols-3">
      {
        features.map((feature) => (
          <>
            <div>
              <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">
                {feature.title}
              </p>
              <p class="mt-2 text-sm text-gray-700">{feature.description}</p>
              <img
                class="mt-6 rounded-2xl shadow-box shadow-gray-500/20"
                src={feature.image}
                alt={feature.title}
              />
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
