---
const features = [
  {
    image: "/",
    title: "DerivaConnect Markets",
    description:
      "DerivaConnect's cloud-based exchange infrastructure provides global institutional market participants with compliant pre-trade credit confirmation, execution (orderbook, RFQ or voice-assisted) and regulatory reporting services across a broad range of centrally cleared and OTC swaps, initially including Interest Rate Swaps and Swaptions and Foreign Exchange Non Deliverable Forward instruments. Radial-X will also soon provide market participants the unique ability to bilaterally trade regulated cryptocurrency derivatives.",
  },
  {
    image: "/",
    title: "Interest Rate Swaps",
    description:
      "The interest rate swap market is a financial market in which parties exchange cash flows based on the underlying value of an interest rate index. Interest rate swaps are often used as a way for businesses and investors to hedge against changes in interest rates, or as a means of speculation. In an interest rate swap, one party agrees to pay a fixed rate of interest to the other party, while the other party agrees to pay a variable rate of interest that is based on an agreed-upon benchmark rate.",
  },
  {
    image: "/",
    title: "Foreign Exchange Non Deliverable Forward",
    description:
      "A Foreign Exchange Non Deliverable Forward (NDF) is a type of financial derivative contract in which two parties agree to exchange a specified amount of one currency for another currency at a predetermined exchange rate on a future date. However, the currencies involved in the transaction are not physically delivered to the counterparty; instead, the difference between the agreed-upon exchange rate and the spot exchange rate at the time of settlement is settled in cash.",
  },
];
const carousel = [
  { title: "FORWARD RATE AGREEMENTS" },
  { title: "OTC derivatives" },
  { title: "Swift and Effortless Account Setup" },
  { title: "Premier Clearing Services" },
  { title: "Swaptions" },
  { title: "PROFIT RATE SWAPS" },
  { title: "fully compliant execution models" },
  { title: "multi-asset central limit order book (CLOB)" },
  { title: "request for quote (RFQ) trading protocols" },
  { title: "request for market (RFM) trading protocols" },
  { title: "indication of interest (IOI) trading protocols" },
  { title: "FX/NDFs, and equity derivatives" },
];
---

<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="lg:text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        market features
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        With cutting edge benchmark and customized trading systems, <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >DerivaConnect enables market participants to precisely hedge,
          consolidate or terminate derivative risk positions</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:mx-auto lg:text-base">
        Explore a wide range of financial tools, features, and support to meet
        all your trading goals
      </p>
    </div>
    <div>
      <div
        class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
      >
        <div class="grid justify-between w-full">
          <div
            class="absolute inset-0 left-0 z-10 from-gray-100 via-transparent w-44 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-gray-100 via-transparent w-44 bg-gradient-to-l"
          >
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused animate-marqueeRight whitespace-nowrap"
          >
            {
              carousel.map((tagline) => (
                <>
                  <div class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                    <span class="group-hover:text-white">{tagline.title}</span>
                  </div>
                </>
              ))
            }
          </div>
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused animate-marqueeLeft whitespace-nowrap"
          >
            {
              carousel.map((tagline) => (
                <>
                  <div class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                    <span class="group-hover:text-white">{tagline.title}</span>
                  </div>
                </>
              ))
            }
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-2 lg:grid-cols-3">
      {
        features.map((feature) => (
          <>
            <div>
              <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">
                {feature.title}
              </p>
              <p class="mt-2 text-sm text-gray-700">{feature.description}</p>
              <img
                class="mt-6 rounded-2xl shadow-box shadow-gray-500/20"
                src={feature.image}
                alt={feature.title}
              />
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
